*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(62, 12, 160);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; 
}

.weather-app{
     background: linear-gradient(90deg, #f34848, #03993a);
   /* background-color: white; */
    max-width: 600px;
    margin:50px auto;
    padding: 30px;
    border-radius: 15px;
}

.search-form{
    display: flex;
    align-items: center;
}

.city-input{
    background-color: rgb(213, 205, 130);
}

input[type="text"]{
    flex: 1;
    padding: 20px;
    font-size: 1rem;
    border: 2px solid #063e92;
    border-radius: 15px;
}

.search-btn {
    background-color: #1492c8;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #063e92;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #032b4a;
}

.city-date-section{
    display: flex;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.city-date-section .city{
    font-size: 2rem;
    opacity: 0.9;
}

.city-date-section .date{
    background-color: #1492c8;
    padding: 5px 10px;
    border-radius: 15px;
}

.temperature-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.temperature-info .temp{
    font-size: 10rem;
   /* font-weight: bold;*/
}

.temperature-info .description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.temperature-info .description i {
    font-size: 1.5rem;
    opacity: 0.8;
}

.temperature-info .description span {
    font-size: 1.5rem;
}

.additional-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.wind-info, .humidity-info, .visibility-info {
    background-color: rgb(93, 164, 215);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    padding: 30px 20px ;
    box-shadow: black 1px 3px 8px;
}

.additional-info .material-icons {
    font-size: 2rem;
    opacity: 0.8;
}

.wind-info div, .humidity-info div, .visibility-info div {
    text-align: center;
}
    